@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,200;1,600&display=swap');

:root{
    --main-color:#0ef;
    --secondary-color:#fff;
    --third-color:#1f232d;
}

#about-container{
    width: 99%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100%;
}

.about-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.about-image-container > img{
    width: 400px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 16px 53px 3px rgba(0,238,255,1),
    0px -3px 39px -3px rgba(0,238,255,1); 
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px #000000);
}

.about-me-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 30px 90px;
    
}

.about-me-container > h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    cursor: pointer;
}

.about-me-container > h1 span{
    color: var(--main-color);
}

.about-me-container > p{
    color: var(--secondary-color);
    text-align: justify;
    text-indent: 10%;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 10px;
    overflow: auto;
    padding: 5px;
}

